body {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  height: 30px;
}

.text-input {
  border: solid 0px;
}

.save-info {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.save-info input {
  height: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.button {
  height: 35px;
  /* border-radius: 9px;
    border: solid 2px red;
    background-color: yellow; */
}

.account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 145, 0);
  border-radius: 30px;
  padding: 50px 30px;
  box-sizing: border-box;
}
