body {
  flex-direction: column;
  align-items: center;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cart-card {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 95%;
  /* height: 20rem; */
  background-color: #ffc446;
  border-radius: 30px;
  margin: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  /* align-content: st; */
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  /* align-content: st; */
}

.btn-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

button {
  height: 3rem;
  /* border: solid 0px; */
  width: 20%;
  /* margin: 0 1rem; */
}

.image-container {
  width: 20%;
  max-height: 100%;
}

.image-container img {
  max-height: 100%;
}

.book-info h2,
p {
  margin: 0.5rem;
}
