/* .login-form {
    width: 25%;
}

.login-form form {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.login-form h2 {
    margin-top: 0px;
}

@media (max-width: 1500px) {
    .login-form {
        width: 30%;
    }
}

@media (max-width: 1200px) {
    .login-form {
        width: 35%;
    }
}

@media (max-width: 1000px) {
    .login-form {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .login-form {
        width: 90%;
    }
} */
